* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: grid;
    grid-template-rows: auto auto auto;
}





/* Header */

#logo {
    width: 75px;
    height: 75px;
    margin-right: -85px;
    opacity: 75%;
}

/* Header */





/* Footer */

.footer {
    display: grid;
    grid-template-rows: 1fr 40px;
    padding: 15px;
}

.copyright {
    background-color: white;
    color: black;
    text-align: center;
    padding: 15px;
    font-size: 16px;
}

.infoFooter {
    background-color: white;
    color: black;
    text-align: center;
    padding: 25px;
    font-size: 20px;
}

.link {
    color: black;
    text-decoration: none;
}

/* Footer */





/* Index */

.contenido-index {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
}

#h1 {
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}

.bloq1-index {
    background-color: white;
    text-align: center;
    padding: 25px;
}

.bloq1-index h2 {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.bloq1-index p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 25px;
    font-size: 16px;
}

.bloq4-index {
    background-color: white;
    text-align: center;
    padding: 25px;
}

.bloq4-index h2 {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.bloq4-index p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 25px;
    font-size: 16px;
}

.bloq2-index:hover {
    opacity: 95% !important;
}
.bloq3-index:hover {
    opacity: 95% !important;
}
#bloq4-index:hover {
    opacity: 95% !important;
}

/* index */





/* Contacto */

.contenido-contacto {
    display: grid;
    grid-template-rows: auto auto;
}

.formulario {
    background-color: white;
    text-align: center;
    padding: 25px;
}

.text-area {
    padding: 25px;
}

#email {
    width: 350px;
    padding: 5px;
}

#username {
    width: 350px;
    padding: 5px;
}

#text {
    width: 350px;
    padding: 5px;
}

/* Contacto */





/* Ferreteria */

.contenido-ferreteria {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
}

/* Ferreteria */





/* Metalurgica */

.contenido-metalurgica {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
}

/* Metalurgica */





/* Nosotros */

.contenido-nosotros {
    display: grid;
    grid-template-rows: auto auto auto;
}

.bloq1-nosotros {
    padding: 25px;
}

/* Nosotros */





/* Responsive */

@media (max-width: 768px) {
    .header {
        display: grid;
        grid-template-columns: 75px auto;
    }
}

@media (max-width: 992px) {
    #logo {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 992px) {
    .infoFooter {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    .copyright {
        font-size: 14px;
    }
}
@media (max-width: 992px) {
    .footer {
        grid-template-rows: 1fr 50px;
    }
}

/* Responsive */

/* Animaciones */

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Animaciones */