* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: grid;
    grid-template-rows: auto auto auto;
}





/* Header */

/* Header */





/* Footer */

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.copyright {
    background-color: white;
    text-align: center;
    padding: 25px;
}

.logo-bottom {
    background-color: white;
    text-align: center;
    padding: 25px;
}

/* Footer */





/* Index */

.contenido-index {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
}

#h1 {
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}

.bloq1-index {
    background-color: white;
    text-align: center;
    padding: 25px;
}

.bloq1-index h2 {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.bloq1-index p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 25px;
    font-size: 16px;
}

.bloq4-index {
    background-color: white;
    text-align: center;
    padding-top: 25px;
}

.bloq4-index h2 {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.bloq4-index p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 25px;
    font-size: 16px;
}

.bloq2-index:hover {
    opacity: 95% !important;
}
.bloq3-index:hover {
    opacity: 95% !important;
}
#bloq4-index:hover {
    opacity: 95% !important;
}

/* index */





/* Contacto */

.contenido-contacto {
    display: grid;
    grid-template-rows: auto auto;
}

.formulario {
    background-color: white;
    text-align: center;
    padding: 25px;
}

.text-area {
    padding: 25px;
}

#email {
    width: 350px;
    padding: 5px;
}

#username {
    width: 350px;
    padding: 5px;
}

#text {
    width: 350px;
    padding: 5px;
}

/* Contacto */





/* Ferreteria */

.contenido-ferreteria {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
}

#h1 {
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}

.bloq1-ferreteria {
    background-color: white;
    text-align: center;
    padding: 25px;
}

.bloq1-ferreteria h2 {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.bloq1-ferreteria p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 25px;
    font-size: 16px;
}

.bloq3-ferreteria {
    background-color: white;
    text-align: center;
    padding: 25px;
}

.bloq3-ferreteria h2 {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.bloq3-ferreteria p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 25px;
    font-size: 16px;
}

.bloq2-ferreteria:hover {
    opacity: 95% !important;
}
.bloq4-ferreteria:hover {
    opacity: 95% !important;
}

/* Ferreteria */





/* Metalurgica */

.contenido-metalurgica {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    align-items: center;
    justify-items: center;
}

/* Metalurgic */





/* Nosotros */

.contenido-nosotros {
    display: grid;
    grid-template-rows: auto auto auto;
}

.bloq1-nosotros {
    padding: 25px;
}

/* Nosotros */





/* Responsive */

@media (max-width: 768px) {
    .header {
        display: grid;
        grid-template-columns: 75px auto;
    }
    
}

/* Responsive */

/* Animaciones */

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Animaciones */