/* Nosotros */

#h1 {
    @include animateh1;
}

.bloq1-nosotros {
    padding: $paddingCajas;
    h2 {
        color: $colorTexto;
    }
    p {
        color: $colorTexto;
        font-size: 16px;
    }
}

/* Nosotros */