/* Variables */

$colorFondo: white;
$colorTexto: black;
$paddingCajas: 25px;
$fuenteTitulo: Arial, Helvetica, sans-serif;
$fuenteTexto: 'Times New Roman', Times, serif;

/* Variables */





/* Nosotros */

.bloq1-nosotros {
    padding: $paddingCajas;
    h2 {
        color: $colorTexto;
    }
    p {
        color: $colorTexto;
        font-size: 16px;
    }
}

/* Nosotros */





/* Metalurgica */

.bloq1-metalurgica {
    background-color: $colorFondo;
    text-align: center;
    padding: $paddingCajas;
    h2 {
        color: $colorTexto;
        text-align: center;
        font-family: $fuenteTitulo;
    }
    p {
        color: $colorTexto;
        font-family: $fuenteTexto;
        text-align: center;
        padding: $paddingCajas;
        font-size: 16px;
    }
}

.bloq3-metalurgica {
    background-color: $colorFondo;
    text-align: center;
    padding: $paddingCajas;
    h2 {
        color: $colorTexto;
        text-align: center;
        font-family: $fuenteTitulo;
    }
    p {
        color: $colorTexto;
        font-family: $fuenteTexto;
        text-align: center;
        padding: $paddingCajas;
        font-size: 16px;
    }
}

/* Metalurgica */